<%inherit file="base.html"/>
<%!
    import lazylibrarian
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <div id="subhead_menu">
        </div>
    </div>
</%def>
<%def name="body()">
<form accept-charset="UTF-8" action="magazine_update" method="post">
    <div class="configtable">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input name="old_title" type="hidden" value="${config['Title']}" />
        <fieldset>
            <legend>${title}</legend>
            <div class="form-group col-md6">
                <label for="new_title" class="control-label">New Magazine Title:</label>
                <input type="text" id="new_title" name="new_title" value="${config['Title']}" class="form-control" placeholder="Title">
            </div>
        </fieldset>
        <div class="table_wrapper_button">
            <input type="submit" value="Save changes" id="add" class="btn btn-primary">
        </div>
        <p>&nbsp;</p>
    </div>
</form>
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    function initThisPage()

    {
        "use strict";
    }
    $(document).ready(function() {
        initThisPage();
    });
  </script>
</%def>
<html><head></head><body></body></html>
