<%inherit file="base.html" />
<%!
    import lazylibrarian
    from lazylibrarian.config2 import CONFIG
%>
<%def name="headerIncludes()">
  <div id="subhead_container">
    <div id="subhead_menu">
        <label class="">&nbsp;&nbsp;</label>
    </div>
  </div>
</%def>
<%def name="body()">
  <h1>${title}</h1>
  <form action="past_issues" method="get" class="form-inline">
    <div class="form-group">
      <label for="whichStatus" class="control-label">Status: </label>
      <select name="whichStatus" id="whichStatus" class="form-control input-sm">
        %for item in ['Skipped', 'Have', 'Ignored', 'Wanted', 'Snatched']:
        <option value="${item}"
                    %if whichStatus == item:
                        selected = "selected"
                    %endif
                >${item}</option>
        %endfor
      </select>
    </div>

    %if CONFIG['TOGGLES']:
    &nbsp;&nbsp;Toggle: <a class="toggle-vis" data-column="1"> Title</a>
    <a class="toggle-vis" data-column="2"> Date</a>
    <a class="toggle-vis" data-column="3"> Issue</a>
    <a class="toggle-vis" data-column="4"> Provider</a>
    %endif
  </form>
  <br>
  <form action="mark_past_issues" method="get" class="form-inline">
    <input type="hidden" name="redirect" value="manageissues">
    <table class="display table table-striped table hover table-bordered" id="book_table">
      <thead>
        <tr>
          <th class="select no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
          <th class="magtitle">Title</th>
          <th class="lastacquired text-center">NZB&nbsp;Date</th>
          <th class="issuedate text-center">Issue&nbsp;Date</th>
          <th class="Provider">Provider</th>
        </tr>
      </thead>
    </table>
      %if perm%lazylibrarian.perm_status:
      <p>
      <div class="form-group">
        <label class="control-label">Change selected magazines to:</label>
        <select class="form-control input-sm" name="action">
          %for item in ['Skipped', 'Wanted', 'Ignored', 'Remove']:
          %if whichStatus != item:
          <option value="${item}">${item}</option>
          %endif
          %endfor
        </select>
      </div>
      <button type="submit" class="btn btn-sm btn-default" id="mark_past_issues" value="Go">Go</button>
    </p>
    %endif
  </form>
</%def>
<%def name="headIncludes()">
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function() {

        var selected = [];

        $('#whichStatus').change(function(){
            window.location = 'past_issues?mag=${mag | u}&whichStatus=' + $(this).val()
        })
        var table = $('#book_table').DataTable(
            {
                "responsive": true,
                "order": [[ 1, 'asc']],
                "bAutoWidth": false,
                "stateSave": true,
                "rowId": 0,
                "columnDefs":
                    [ { targets: 'no-sort', orderable: false },
                        { targets: [0],
                          'class': 'text-center',
                          'render': function(data, type, row) {
                            if ( $.inArray('Z' + data, selected) !== -1 ) {
                                return '<input type="checkbox" id="Z' + data + '" name="' + data + '" class="checkbox" checked=true />'; }
                            return '<input type="checkbox" id="Z' + data + '" name="' + data + '" class="checkbox" />';}
                      }
                    ]
                ,
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No matching issues found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${CONFIG['DISPLAYLENGTH']},
                "aaSorting": [[1, 'asc']],
                "bServerSide": true,
                // need to pass requested status filter
                "sAjaxSource": 'get_past_issues?whichStatus=${whichStatus}&mag=${mag | u}',
                "bFilter": true,
            });

          $('#book_table tbody').on('click', 'tr input:checkbox', function () {
              var id = this.id;
              var index = $.inArray(id, selected);
              if ( index === -1 ) {
                  selected.push( id );
              } else {
                  selected.splice( index, 1 );
              }
              $(this).toggleClass('selected');
          } );

            $('.dataTables_filter input').attr("placeholder", "Results filter");
            $('a.toggle-vis').click(function (e) {
                e.preventDefault();
                var column = table.column( $(this).attr('data-column') );
                column.visible( ! column.visible() );
            } );
    });
  </script>
</%def>
